.card {
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid white;
    /* background-color: rgb(39, 39, 39);
    border: 10px;
    border-color: black; */
}
.train {
    text-align: left;
    padding-right: 5px;
}

.direction {
    text-align: left;
    padding-right: 5px;
}

.station {
    text-align: right;
    padding-right: 5px;
}

.departure {
    text-align: left;
    padding-right: 5px;
}

.delay {
    color: rgb(112, 0, 0);
    text-align: center;
}

.delay0 {
    color: rgb(0, 125, 0);
    text-align: center;
}

.crowd {
    padding-right: 5px;
}
.crowd-low {
    color: rgb(0, 125, 0);
}

.crowd-medium {
    color: rgb(255, 174, 0);
}

.crowd-high {
    color: rgb(255, 0, 0);
}

.crowd-unknown {
    color: rgb(55, 0, 255);
}

.train-icon {
    text-align: left;
    padding: 20px;
}

.card-time {
    text-align: center;
    padding-bottom: 5px;
}

.train-info {
    text-align: left;
    padding-bottom: 5px;
}

.train-route {
    text-align: left;
    padding-bottom: 5px;
}

.card-train-route {
    text-align: left;
}

.card-train-type {
    text-align: left;
    padding-right: 5px;
}

.card-train-direction {
    text-align: left;
    padding-right: 5px;
}

.ns-table {
    border: 1px solid white;
}
